 body{
    height:100%;
    width: 100%;
}
h1{
    font-size: 18px;
    text-align: center;
    padding: 0 0 5px 0;
}
body{
    font-family: 'Ma Shan Zheng', cursive;
}
body{
    position: relative;
    padding: 10px 40px 40px 40px;
    
}
.green-section{
    background-color:#22B573;
}
.navbar li{
    display: inline-block;
    margin-right: 45px;
    padding: 30px 0 0 36px;
}
ul:last-child{
    margin-right: 0;
}
.navbar li a{
    font-size: 48px;
    color: #fff;
}
.logo{
    float: right;
    width: 1240px;
    padding: 37px 21px 0 0;
    z-index: 1;
}
.green-section::after{
    content: "";
    clear: right;
    display: block;
}
.whitebox{
    position: absolute;
    height: 685px;
    width: 913px;
    bottom: 0;
    left: 0;
    background-color:#fff;
    z-index: 2;
}
.whitebox:hover .readmore{
    position: absolute;
    bottom: 45px;
    left: 760px;
    color: red;

}
.smallgreen{
    position: absolute;
    height: 418px;
    width: 418px;
    bottom: 120px;
    left: 141px;
    background-color:#006837;
    z-index: 3;
}
.smallgreen:hover{
    background-color:#FFFF00;
}
.textposition:hover{
    color: #C1272D;
    transform: rotate(0deg);
}
.textposition{
    position: absolute;
    /* height: 100px; */
    /* width: 450px; */
    transform: rotate(45deg);
    bottom: 340px;
    left: 5px;
    z-index: 4;
    font-size: 42px;
    color:#FFFF00;
}
.readmore{
    position: absolute;
    bottom: 45px;
    left: 820px;
    z-index: 4;
    font-size: 14px;
    color:#39B54A;
}
.created{
    position: absolute;
    bottom: 52px;
    right: 52px;
    z-index: 2;
    font-size: 14px;
    color:#FFFF00 ;
}